body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
    display: list-item;
}

.stuff {
    justify-content: center
}

#execute {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #969696;
    background: #d9dbda;
    margin: 10px;
    padding: 10px;
    margin: auto;
    max-width: 800px;
    height: auto;
}

#data {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #969696;
    background: #d9dbda;
    margin: 10px;
    padding: 10px;
    width: 800px;
    margin: auto;
    max-width: 800px;
    height: auto;
}

.button {
    background-color: #99bbcb;
    border: solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2%;
}

.content-center {
    align-content: center;
}

h4 {
    /*text-align: center;*/
    font-size: large;
    color: rgb(133, 31, 107);
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
}

.search {
    margin:10px;
    min-height:18px;
    min-width:200px;
    max-width:250px;
    border-radius:10px;
    border:1px solid black;
    padding:7px;
}

.visibility{
    display: none;
}